@model DoAnCoSo.Models.Phong

@{
    ViewBag.Title = "ThemPhong";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}


@using (Html.BeginForm("ThemPhong", "QuanLyPhong", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="text-align:center">Thêm Phòng</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.TenPhong, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                <input  type="text" name="TenPhong" class="form-control"/>
                @Html.ValidationMessageFor(model => model.TenPhong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Don_Gia, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                <input type="number" name="Don_Gia" class="form-control"/>
                @Html.ValidationMessageFor(model => model.Don_Gia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoNguoiLon, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                <input type="number" name="SoNguoiLon" class="form-control" />
                @Html.ValidationMessageFor(model => model.SoNguoiLon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoTreEm, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                <input type="number" name="SoTreEm" class="form-control" />
                @Html.ValidationMessageFor(model => model.SoTreEm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mota, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                <textarea name="Mota" class="form-control"></textarea>
                @Html.ValidationMessageFor(model => model.Mota, "", new { @class = "text-danger" })
            </div>
        </div>

        <h3 style="color:red">@ViewBag.ThieuFile @ViewBag.SaiDinhDangFile</h3>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               <input type="file" name="HinhAnh" value="Chọn ảnh" accept="image/*"/>
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="HinhAnh" value="Chọn ảnh" accept="image/*" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="HinhAnh" value="Chọn ảnh" accept="image/*" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="HinhAnh" value="Chọn ảnh" accept="image/*" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="HinhAnh" value="Chọn ảnh" accept="image/*" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="HinhAnh" value="Chọn ảnh" accept="image/*" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2 font-weight-bold">Loại phòng</span>
            <div class="col-md-10">
                @Html.DropDownList("MaLoaiPhong")

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default btn-success" />
            </div>
        </div>
    </div>
}
<style>
    .current {
        color: red;
        font-weight: 700;
    }
    .option{
        cursor:pointer;
    }
</style>

